* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: maroon;
}

.container{
    width: 600px;
    margin: 0 auto;
}

.welcome-screen{
  text-align: center;
  height: 425px;
  margin-top: 20px;
  padding: 15px;
  background-color: white;
  border: 1px solid #999;
  border-radius: 5px;
}
.question-body{
  height: 425px;
  margin-top: 20px;
  padding: 15px;
  background-color: white;
  border: 1px solid #999;
  border-radius: 5px;
}

.question{
margin-left: 25px;
}

.theQuestion{
  /*font-size: 12px;*/
}

.theAnswers{
  width: 60%;
  display: inline-block;
  float: left;
}

.answer-text{
  margin-left: 10px;
}

.radioAns{
  margin-top: 20px;
  margin-left: 25px;
}

.response-correct{
  width: 100%;
  height: 110px;
  display: inline-block;
  margin: 0 auto;
  padding-left: 15px;
  border: 1px solid #999;
  border-radius: 5px;
}


.okButtonDiv{
  width: 40%;
  height: 200px;
  float: right;
}

.submit-answer-button{
  font-size: 20px;
  margin-top: 15px;
}

h2.correct {
  color: green;
}

h2.incorrect {
  color: red;
}

nav{
  height: 75px;
  margin-top: 20px;
  padding: 20px;
  text-align: center;
  background-color: white;
  border: 1px solid #999;
  border-radius: 5px;
}

.js-quiz-start{
  text-align: center;
}

.startButton{
  font-size: 20px;
}
.nextButton{
  font-size: 20px;
  margin-left: 10px;
}

.hidden{
  display: none;
}
